body {
    width: 1400px;
    height: 7000px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

h1 {
    width: 956px;
    height: 120px;
    margin-top: 128px;
    margin-left: 125px;
    margin-bottom: 0;
    color: #121212;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.projekt {
    position: relative;
    box-sizing: border-box;
    width: 1150px;
    height: 500px;
    margin-left: 125px;
    margin-top: 30px;
    background-image: url(../resources/Interior.png);
}

.projekt_text p {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    height: 81px;
    margin: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
}

h2 {
    width: 1048px;
    height: 366px;
    margin-top: 30px;
    margin-left: 128px;
    color: #121212;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
}

.projekt_title {
    width: 51px;
    height: 25px;
    margin-top: 109px;
    margin-left: 125px;
    color: #121212;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    
}

.btn {
    display: block;
    width: 175px;
    height: 27px;
    margin-top: 30px;
    margin-left: 125px;
    padding: 20px 40px;
    border-image: initial;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(173, 24, 24);
    background-color: rgb(173, 24, 24);
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    border-color: #121212;
    background-color: #FFFFFF;
    color: #121212;
}

.projekt_2_text {
    width: 79px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 29.99px;
    padding-top: 151px;
    color: #121212;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.projekt_2_img {
    width: 1150px;
    height: 449.79px;
    padding-left: 125px;
}

.projekt_2_title {
    width: 501px;
    height: 40.98px;
    margin: 0px;
    padding-top: 14.99px;
    padding-left: 125px;
    color: #121212;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

.projekt_2_btn {
    width: 127px;
    height: 26.99px;
    padding-top: 14.99px;
    padding-bottom: 89.96px;
    padding-left: 127px;
    color: #AD1818;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    cursor: pointer;
}

.projekt_3_img {
    width: 1150px;
    height: 449.79px;
    padding-top: 89.96px;
    padding-left: 125px;
}

.projekt_3_title {
    width: 520px;
    height: 40.98px;
    margin: 0px;
    padding-top: 14.99px;
    padding-left: 125px;
    color: #121212;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

.projekt_3_btn {
    width: 127px;
    height: 26.99px;
    padding-top: 14.99px;
    padding-bottom: 89.96px;
    padding-left: 127px;
    color: #AD1818;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    cursor: pointer;
}

.projekt_4_img {
    width: 1150px;
    height: 449.79px;
    padding-top: 89.96px;
    padding-left: 125px;
}

.projekt_4_title {
    width: 542px;
    height: 40.98px;
    margin: 0px;
    padding-top: 14.99px;
    padding-left: 125px;
    color: #121212;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

.projekt_4_btn {
    width: 127px;
    height: 26.99px;
    padding-top: 14.99px;
    padding-bottom: 89.96px;
    padding-left: 127px;
    color: #AD1818;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    cursor: pointer;
}

.btn_2 {
    display: block;
    width: 1150px;
    height: 40.98px;
    margin-top: 89.96px;
    margin-left: 125px;
    padding-top: 56px;
    padding-bottom: 56px;
    border-radius: 5px;
    border: 1px solid #AD1818;
    background-color: #FFFFFF;
    color: #AD1818;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.03em;
    cursor: pointer;
}

.btn_2:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}
   
.section {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 1844px;
    margin-top: 150px;
    background-color: #121212;
}

.section-title {
    width: 66px;
    height: 25px;
    margin: 0;
    padding-top: 151px;
    padding-left: 127px;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.rectangle-img {
    width: 1150px;
    height: 270px;
    padding-top: 34px;
    padding-left: 125px;
}

.rectangle-text {
    width: 661px;
    height: 41px;
    margin: 0;
    padding-top: 15px;
    padding-left: 128px;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

.rectangle-img-1 {
    padding-top: 60px;
    padding-left: 125px;
}

.rectangle {
    position: absolute;
    width: 1400px;
    height: 717px;
    background-image: url(../resources/Rectangle_5.png);
}

.rectangle-title {
    position: absolute;
    left: 125px;
    bottom: 60px;
    width: 443px;
    height: 82px;
    margin: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}






















