body {
    box-sizing: border-box;
    width: 1400px;
    min-width: 1400px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}
.header {
    margin-left: 125px;
    width: 1150px;
    height: 61px;
}
.header_logo {
    width: 127px;
    height: 22px;
    margin-top: 33px;
    margin-right: 559px;
   }

.header_nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 33px;
}

.nav-link {
    margin-right: 56px;
    color: #121212;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:nth-last-child(1) {
    margin-right: 0;
}
.title {
    width: 956px;
    height: 120px;
    margin-top: 70px;
    margin-left: 125px;
    margin-bottom: 0;
    color: #121212;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.headline {
    position: relative;
    box-sizing: border-box;
    width: 1150px;
    height: 500px;
    margin-left: 125px;
    margin-top: 30px;
    background-image: url(../resources/Interior.png);
}

.text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    height: 81px;
    margin: 0;
    color: #FFFFFF;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
}

.tagline {
    width: 80px;
    height: 25px;
    margin-top: 150px;
    margin-left: 125px;
    margin-bottom: 30px;
    color: #121212;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    
}

.subtitle {
    width: 1048px;
    height: 366px;
    margin-left: 128px;
    margin-bottom: 0;
    color: #121212;
    font-style: normal;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
}

.btn {
    display: block;
    width: 175px;
    height: 27px;
    margin-top: 30px;
    margin-left: 125px;
    padding: 20px 40px;
    border-image: initial;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(173, 24, 24);
    background-color: rgb(173, 24, 24);
    color: rgb(255, 255, 255);
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    border-color: #121212;
    background-color: #FFFFFF;
    color: #121212;
}

.image {
    width: 1150px;
    height: 449.79px;
    padding-left: 125px;
}

.deck {
    width: 661px;
    height: 41px;
    margin: 0px;
    padding-top: 14.99px;
    padding-left: 125px;
    color: #121212;
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

.link {
    display: block;
    width: 127px;
    height: 26.99px;
    padding-top: 15px;
    padding-left: 127px;
    padding-bottom: 90px;
    color: #AD1818;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    cursor: pointer;
    
}

.btn__two {
    display: block;
    width: 1150px;
    height: 40.98px;
    margin-left: 125px;
    margin-bottom: 150px;
    padding-top: 56px;
    padding-bottom: 56px;
    border-radius: 5px;
    border: 1px solid #AD1818;
    background-color: #FFFFFF;
    color: #AD1818;
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.03em;
    cursor: pointer;
}

.btn__two:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}
   
.aside {
    background-color: #121212;
    padding-top: 125px;
}

.tag {
    width: 80px;
    height: 25px;
    padding-left: 125px;
    padding-bottom: 34px;
    color: #FFFFFF;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.deck_color {
    padding-bottom: 60px;
    color: #FFFFFF;
}

.img {
    width: 1150px;
    height: 270px;
    padding-left: 125px;
}

.deck_color_last {
    padding-bottom: 150px;
    color: #FFFFFF;
}

.box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 717px;
    background-image: url(../resources/Rectangle_5.png);
    background-size: cover;
}

.box_title {
    position: absolute;
    left: 125px;
    bottom: 60px;
    width: 443px;
    height: 82px;
    margin: 0;
    color: #FFFFFF;
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}
